table,
tr,
td,
th {
  border: 1px solid rgb(173, 173, 173);
}

table {
  width: 25%;
  margin: 0 auto;;
  border-collapse: collapse;
}

tr > td {
  padding-left: 5px;
}

tr > th {
  padding-left: 5px;
}

p {
  margin-top: 0;
}